@import "tailwindcss";

html,
body,
#root {
  min-height: 100vh;
}

body {
  margin: 0;
  background: #020202;
  color: white;
}
#reader {
  width: 100% !important;
}

#reader video {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

#reader__scan_region {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
